# Cấu hình Hadoop cho Windows
HADOOP_HOME=C:\hadoop

# Cấu hình MinIO (S3)
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_ENDPOINT=http://127.0.0.1:9000

# Ánh xạ chuẩn AWS (Cần cho MLflow, BentoML)
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
MLFLOW_S3_ENDPOINT_URL=http://127.0.0.1:9000
