# Data Processing
pyspark==3.4.1
delta-spark==2.4.0
confluent-kafka>=2.0.0
boto3
python-dotenv

# MLOps
mlflow==2.11.3
pydantic<2.0.0
feast>=0.31.0
bentoml>=1.1.0
setuptools  # Sửa lỗi ModuleNotFoundError: No module named 'pkg_resources'

# AI & Science
numpy<2.0.0
tensorflow>=2.13.0
pandas<2.1.0
lancedb

# UI & Test
streamlit
plotly
pytest
